{% extends 'base.html' %}
{% block content %}
<div class="bg text-center">
	<p>Stwórz swoje konto</p>
</div>
<div class="container">
	<div class="text-center mt-4 mb-4">
		<h2 class="text-muted">Ważne, przeczytaj!!!</h2>
		<h5 class="text-muted mt-4"> Poniżej znajduje się formularz do zakładania kont. Proszę, aby każdy uczeń podał swoje prawdziwe dane personalne. Dane, będą sprawdzane i weryfikowane. Każde nie autoryzowane założenie konta, będzie skutkowało natychmiastowym usunięciem go z systemu. </h5>
		<h5 class="text-muted mt-4"> P.S. Załóż konto i sprawdzaj je na bieżąco ☺ </h5>
	</div>
	<div class="col-md-6 offset-md-3 mb-4">
		<form action="{% url 'register' %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-secondary">Zarejestruj się</button>
		</form>
	</div>
{% endblock content %}